<div class="page-header"></div>
<div class="row-fluid">
	<div class="span2" id="writer_information{{ post.id }}" align="center">
	<img src="{{ STATIC_URL }}img/user_profile/default.png" class="img-polaroid" >
	{{ post.author }}
	</div>
	<div class="span10">
		<p>
			<!-- TO DO : using autoescape off is not safe,
			 check whether post.contents is safe when User posts post-->
			{% autoescape off %}
			{{ post.contents }}
			{% endautoescape %}
		</p>
		<p>
			{{ post.render_liker_list }}  
			{% if is_liked %}
				<a href='/posts/{{post.id}}/on_unliked/'><button>unlike!</button></a>
			{% else %}
				<a href='/posts/{{post.id}}/on_liked/'><button>like</button></a>
			{% endif %}
		</p>
		<p>comment : {{ post.comments_count }}</p>
		<p>
			{% for comment in comment_list %}
				<li>{{ comment.get_rendered }}</li>
			{% endfor %}
		</p>
			
		<!-- Comment Form -->
		<form action="/posts/create_comment/{{ timeline.post.id }}/" method="post">{% csrf_token %}
			</t>comment : <input type="text" name="comment_text"><input type="submit" value="COMMENT">
		</form>
		</hr>
	</div>
</div>
