<html>
	<head>
		<title>post_detail</title>
	</head>
	<body>
		<li> {{ post.contents }} </li>				
	</body>
	
	<!--
	  contents = models.TextField()
    create_time = models.DateTimeField(auto_now_add=True)
    writer = models.ForeignKey(User)
    author = models.CharField(max_length=100)
    has_attachments = models.BooleanField()
    comments_count = models.IntegerField()
    like_count = models.IntegerField()
    like_string = models.CharField(max_length=100)
    is_deleted = models.BooleanField(default=False)
	-->
	
</html>