{% extends "base.html" %}

{% block title %} timeline {% endblock %}
{% block menu %} <!-- empty menu --> {% endblock %}

{% block content %}
	<ul>
		<li>
			<img src="{{ user.get_profile.get_image }}" alt="{{ user.username }}" width="60" height="60">
			<a href="{{ user.get_profile.get_absolute_url }}">{{ user.username }}</a>
		</li>
		{% if user.get_profile.department %}<li>{{ user.get_profile.department }}</li>{% endif %}
		{% if user.get_profile.position %}<li>{{ user.get_profile.position }}</li>{% endif %}
		<li><a href="/accounts/update_profile/">profile update</a></li>
	</ul>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/redactor.css" />
	<!-- logout -->
	<p>
		<a href='/accounts/logout/'> log out </a>
	</p>
	<!-- Post Form -->
	<p>
		<form action="/posts/create_from_timeline/" method="post">{% csrf_token %}
			say something! : </br> 
    		<textarea id="redactor_content" name="post_contents"></textarea>
    		<input type="submit" value="POST">
    	</form>
    </p>
    
    <!-- timeline -->				
	<h1>Test Timeline</h1>
    {% for timeline in timelines %}
    	{% if timeline.is_liked %}
			{{ timeline.post.get_rendered_liked }}
		{% else %}
			{{ timeline.post.get_rendered }}
		{% endif %}
		<!-- Comment Form -->
		<form action="/posts/create_comment/{{ timeline.post.id }}/" method="post">{% csrf_token %}
			</t>comment : <input type="text" name="comment_text"><input type="submit" value="COMMENT">
		</form>
		</hr>
	{% endfor %}
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
	<script src="{{ STATIC_URL }}js/redactor.js"></script>
	<script>
		$(document).ready(
			function()
			{
				$("form textarea").redactor({
				    imageUpload: '{% url posts.views.upload_photos %}',
				    imageGetJson: '{% url posts.views.recent_photos %}'
				});
			}
		);
	</script>
{% endblock %}
