{% extends "base.html" %}

{% block title %} timeline {% endblock %}

{% block menu %}
Hive Hive
<div class="well sidebar-nav">
 <ul class="nav nav-list">
  <li class="nav-header">Timeline</li>
  <li class="active"><a href="/">Main Timeline</a></li>
  <li><a href="#">Humor Timeline</a></li>
  <li><a href="#">Notice Timeline</a></li>
  <li><a href="#">Custom Timeline</a></li>
  <li class="nav-header">People</li>
  <li><a href="/accounts/people_list/">People List</a></li>
  <li><a href="#">Who I Followed</a></li>
  <li><a href="#">Who Followed me</a></li>
  <li class="nav-header">Mention</li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
 </ul>
</div><!--/.well -->
{% endblock %} <!-- /.menu -->

{% block content %}
	<!-- logout -->
	<p>
		<a href='/accounts/logout/'> log out </a>
	</p>
	<!-- Post Form -->
	<p>
		<form action="/posts/create_from_timeline/" method="post">{% csrf_token %}
			say something! : </br> 
    		<input type="text" name="post_contents">
    		<input type="submit" value="POST">
    	</form>
    </p>
    
    <!-- timeline -->				
	<h1>Test Timeline</h1>
    {% for timeline in timelines %}
    	{% if timeline.is_liked %}
			{{ timeline.post.get_rendered_liked }}
		{% else %}
			{{ timeline.post.get_rendered }}
		{% endif %}
		<!-- Comment Form -->
		<form action="/posts/create_comment/{{ timeline.post.id }}/" method="post">{% csrf_token %}
			</t>comment : <input type="text" name="comment_text"><input type="submit" value="COMMENT">
		</form>
		</hr>
	{% endfor %}

{% endblock %}
