{% extends "base.html" %}

{% block title %} timeline {% endblock %}

{% block menu %}
Hive Hive
<div class="well sidebar-nav">
 <ul class="nav nav-list"> 
  <li>
		{% if user_profile.portrait %}
			<img src="{{ user_profile.portrait }}" alt="{{ user.username }}" width="60" height="60">
		{% else %}
			<img src="{{ MEDIA_URL }}user_profile/default.png" alt="{{ user.username }}" width="60" height="60">
		{% endif %}
		<a href="/timelines/my_timeline/">{{ user.username }}</a>
  </li>
  <li class="nav-header">Timeline</li>
  <li class="active"><a href="/">Main Timeline</a></li>
  <li><a href="#">Humor Timeline</a></li>
  <li><a href="#">Notice Timeline</a></li>
  <li><a href="#">Custom Timeline</a></li>
  <li class="nav-header">People</li>
  <li><a href="/accounts/people_list/">People List</a></li>
  <li><a href="#">Who I Followed</a></li>
  <li><a href="#">Who Followed me</a></li>
  <li class="nav-header">Mention</li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
 </ul>
</div><!--/.well -->
{% endblock %} <!-- /.menu -->

{% block content %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/redactor.css" />
	<!-- logout -->
	<p>
		<a href='/accounts/logout/'> log out </a>
	</p>
	<!-- Post Form -->
	<p>
		<form action="/posts/create_from_timeline/" method="post">{% csrf_token %}
			say something! : </br> 
    		<textarea id="redactor_content" name="post_contents"></textarea>
    		<input type="submit" value="POST">
    	</form>
    </p>
    
    <!-- timeline -->				
	<h1>Test Timeline</h1>
    {% for timeline in timelines %}
    	{% with post=timeline.post %}
		{% if post.comments_count > 0 %}
			{% include "posts/post_render.html" with post=post comment_list=post.comment_set.all %}
		{% else %}
			{% include "posts/post_render.html" with post=post %}
		{% endif %}
        {% endwith %}
    {% endfor %}
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
	<script src="{{ STATIC_URL }}js/redactor.js"></script>
	<script> 
		$(document).ready(
			function()
			{
				$("form textarea").redactor({
				    imageUpload: '{% url posts.views.upload_photos %}',
				    imageGetJson: '{% url posts.views.recent_photos %}'
				});
			}
		);
	</script>
{% endblock %}
