{% extends "base.html" %}

{% block title %} timeline {% endblock %}

{% block content %}
	<!-- Post Form -->
	<p>
		<form action="/posts/create_from_timeline/" method="post">{% csrf_token %}
			say something! : </br> 
    		<input type="text" name="post_contents">
    		<input type="submit" value="POST">
    	</form>
    </p>
    
    <!-- timeline -->				
	<h1>Test Timeline</h1>
    {% for timeline in timelines %}
		{{ timeline.post.get_rendered }}
	{% endfor %}
	
	<!-- logout -->
	<p>
		<a href='/accounts/logout/'> log out </a>
	</p>
{% endblock %}