{% extends "base.html" %}
{% load url from future %}

{% block menu %} <!-- empty menu --> {% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<!-- Login Form -->
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<a href="/accounts/forgot_password">Forgot Your Password?</a>
<input type="hidden" name="next" value="{{ next }}" />
</form>
<img src="{{ STATIC_URL }}img/about/4.png" width="400" height="400">
<!-- Email Registration Form -->
<p>
  <form action="/accounts/register_email/" method="post">{% csrf_token %}
    Sign Up <br />
    <input type="text" name="email">
    <input type="submit" value="signup"> {{ status }}
  </form>
</p>

{% endblock %}
