{% extends "base.html" %}

{% block content %}
	{% for people in peoples %}
    	{{ people.user.username }} 
		<a href="/accounts/addfollow/{{people.user.id}}/{{observer.id}}"><button>follow!</button></a>
		</br>
		</hr>
    {% endfor %}
   <div class="pagination">
    <span class="step-links">
        {% if peoples.has_previous %}
            <a href="?page={{ peoples.previous_page_number }}{{url_search_param}}">previous</a>
        {% endif %}

        <span class="current">
            {% for i in peoples.paginator.page_range %}
                {% ifequal i peoples.number %}
                    <p>{{ i }}</p>
                {% else %}
                    <a href="/accounts/people_list/?page={{ i }}{{url_search_param}}">{{ i }}</a>
                {% endifequal %}
            {% endfor %}
        </span>

        {% if peoples.has_next %}
            <a href="?page={{ peoples.next_page_number }}{{url_search_param}}">next</a>
        {% endif %}
    </span> 
   </div> 
   
   <!-- search people text form--> 
   <form action="/accounts/people_list/" method="GET">
    	<input type="text" name="search_var">
    	<input type="submit" value="search">
   </form>
      
{% endblock %}
