{% extends "base.html" %}

{% block content %}
	<h3> Search People </h3>
   <!-- search people text form--> 
   <form action="/accounts/people_list/" method="GET" class="form-search">
    	<input type="text" name="search_var" class="input-medium search-query">
    	<input type="submit" value="search" class="btn">
   </form>
	<hr>
	<table class="table table-striped">
	{% for people in peoples %}
		<tr>
		<td style="width:120px;"><img src="{{ people.user.get_profile.get_image }}" class="img-polaroid" ></td>
    		<td class="middle"><p>{{ people.user.username }} </p></td>
		<td class="middle">
			<div>
		{% if people.user.id not in followers_id_list %}
		<button followid="{{ people.user.id }}" class="btn btn-info followbutton btn-followbutton" method="addfollow" >
		follow!
		</button>
		{% else %}
		<button followid="{{ people.user.id }}" class="btn btn-inverse followbutton btn-followbutton" method="removefollow" >
		alreay followed!
		</button>
			</div>
		{% endif %}
		</td>
		
		</tr>
    	{% endfor %}
	</table>
   <div class="pagination">
	<ul>
        {% if peoples.has_previous %}
            <li><a href="?page={{ peoples.previous_page_number }}{{url_search_param}}">previous</a></li>
        {% endif %}
        {% for i in peoples.paginator.page_range %}
        	{% ifequal i peoples.number %}
                 <li class="disabled"><a href="#">{{ i }}</a></li>
                {% else %}
                   <li class="active"><a href="/accounts/people_list/?page={{ i }}{{url_search_param}}">{{ i }}</a></li>
                {% endifequal %}
        {% endfor %}
        {% if peoples.has_next %}
            <li><a href="?page={{ peoples.next_page_number }}{{url_search_param}}">next</a></li>
        {% endif %}
	<ul>
   </div> 
   
      
{% endblock %}
{% block scripts %}
<script>
{% autoescape off %}
	$(function(){
		$('.followbutton').click(function(){
			var follow_user_id = $(this).attr("followid")
			var follow_btn = $(this)
			var follow_method = $(this).attr("method")
			
			if( follow_method == "addfollow" )
				{
					follow_btn.text("already followed!")
					$(this).attr("method", "removefollow")
				}
				else
				{
					follow_btn.text("follow!")
					$(this).attr("method", "addfollow")
				}
			$.get('/accounts/'+follow_method+"/"+follow_user_id+"/", function(data) {
				window.location.reload(true)
			});			
		});
	});
{% endautoescape %}
</script>
{% endblock %}
