<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/redactor.css" />
    
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  
    <!-- Navbar  ================================================== -->
	
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">HIVE</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/accounts/profile/{{user.username}}/">Profile</a></li>
              <li><a href="/admins/">Admin</a></li>
              <li><a href="/admin/">django Admin</a></li>
              <li><a href="/accounts/logout/">Sign Out</a></li>
            </ul>
              
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end Navbar ================================================== -->
	
	<!-- menu bar + Content Block ================================================== -->
   <div class="container-fluid"
    <div class="row-fluid">
      <div class="span3">
         {% block menu %}{% endblock %}
      </div><!--/span-->
      
      <div class="span9">
      	 {% block content %}{% endblock %}
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; afool 2012</p>
      </footer>
   </div>
   
	<!--scripts-->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/redactor.min.js"></script>
	<script type="text/javascript">
	$(function () {
		$('button').button();
	})
	</script>
	<!--start custom script block -->
    	{% block scripts %}{% endblock %}
	<!--end custom script block -->
  </body>
</html>
