<html>
	<head>
		<title>admin page</title>
	</head>
	<body>
    	<h2> activities of {{trend.date}} </h2>
    	<p>
    		number of likes : {{latest_activities.num_likes}} </br>
    		number of comments : {{latest_activities.num_comments}}</br>
    		number of web feeds : {{latest_activities.num_web_feeds}}</br>
    		number of messages : {{latest_activities.num_messages}}</br>
    	</p>
    	
    	{% for trend in trend_list %}
    	<h2> trend of {{trend.date}} </h2>
    	<h2> {{trend.post.contents }} </h2>
    	<p>
    		number of comments : {{trend.num_comments}}</br>
    		number of likes : {{trend.num_likes}} </br>
    		total points : {{trend.total_points }} </br>
    	</p>    	
    	{% endfor %}
    				
	</body>
</html>