<!DOCTYPE html>
<html>
<head>
	<title>test</title>
    <link rel="stylesheet" href="/static/css/demo.css" type="text/css" media="screen">
</head>
<body>
    <h2>
	<table id="data">
        <tfoot>
	        <tr>
	        {% for x in datas.x %}
                <th>{{ x }}</th>
            {% endfor %}
            </tr>
        </tfoot>
        <tbody>
            {% for y in datas.y %}
            <tr>
                <td>{{ y }}</td>
            </tr>
            {% endfor %}
       </tbody>
    </table>

	<div id="holder"></div>
	<script type="text/javascript" src="/static/js/raphael.js"></script>
	<script type="text/javascript" src="/static/js/popup.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/static/js/analytics2.js"></script>
</body>
</html>
