<!DOCTYPE html>
<html>
<head>
	<title>test</title>
    <link rel="stylesheet" href="/static/css/demo.css" type="text/css" media="screen">
</head>
<body>
	<table id="data">
		<tfoot>
	        <tr>
	            <th>100</th>
	            <th>2</th>
	            <th>3</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>8</td>
                <td>25</td>
                <td>27</td>
            </tr>
       </tbody>
    </table>

	<div id="holder"></div>
	<script type="text/javascript" src="/static/js/raphael.js"></script>
	<script type="text/javascript" src="/static/js/popup.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/static/js/analytics2.js"></script>
</body>
</html>
